* {
  margin: 0;
  border: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  border-collapse: collapse;
}

body {
  font-family: "Futura PT", sans-serif;
  font-size: 14px;
  letter-spacing: 0.5px;
  color: #2d2d2d;
}

a {
  color: #000;

  &:hover {
    text-decoration: none;
    color: #000;
  }
}

h1 {
  font-size: 22px;
}

ul {
  list-style: none;
  margin-bottom: 0;
}

button {
  &:focus {
    outline: none;
  }
}

label {
  font-weight: bold;
}

.admin-header {
  font-size: 16px;
  margin-bottom: 20px;

  &-nav-item {
    padding-right: 20px;

    &:last-child {
      padding-right: 0;
    }
  }
}

.allproducts-list, .allcategories-list {
  font-weight: lighter;

  &-item {
    margin-bottom: 15px;

    a:hover {
      color: #0770cf;
    }
  }

  &-item-image {
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain
  }

  &-item-icons {
    a {
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }
    }

    button {
      background: transparent;

      &:hover {
        color: #0770cf;
      }
    }
  }

  &-header {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: normal;
  }
}

.admin-button {
  font-size: 16px;
  padding: 5px 20px;
  border: 1px solid transparent;
  border-radius: 3px;
  transition: background-color 0.1s linear;
  background-color: #17a2b8;
  color: #fff;
  font-family: "Futura PT", sans-serif;
  letter-spacing: 0.5px;

  &:hover {
    background-color: #17a2b896;
    color: #fff;
  }
}

.admin-title {
  margin-bottom: 20px;
  font-size: 20px;
  text-align: center;
}

.admin-list-title {
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 25px;
  text-align: center;
}

.add-entity {
  margin-bottom: 20px;
  margin-top: 20px;
  display: inline-block;
  .admin-button();
}

.entity-form-submit {
  margin-top: 10px;
  margin-bottom: 30px;
  .admin-button();
}

.entity-form-image {
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px 0 15px 0;

  &--category {
    height: 500px;
    width: 300px;
  }
}

.entity-form-delete-image {
  margin-top: 10px;
}

.entity-form-delete-image-button {
  background-color: #bd2130b5;
  border: none;

  &:hover, &:focus {
    background-color: #bd21306b;
    box-shadow: none;
  }

  &--deleted {
    display: none;
  }
}

.entity-form-image--deleted,
.products-item__img--deleted,
.product-img--deleted {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ccc;
  border: 1px solid #ccc;
}

.entity-form-option--disabled {
  opacity: 0.5;
}

.entity-form-errors {
  margin-left: 20px;
  color: #ff253a;
  margin-bottom: 20px;

  &--image-group {
    margin-bottom: 20px;

    ul {
      list-style: circle;

      li {
        margin-left: 30px;
      }
    }
  }
}

.entity-form-errors:last-of-type {
  margin-bottom: 20px;
}

.delete-entity-modal,
.entity-modal-ondeletion {
  .modal-header {
    border-bottom: none;
  }

  .modal-body {
    text-align: center;
    font-size: 14px;
    padding-top: 10px;
  }

  .modal-footer {
    justify-content: center;
    font-size: 14px;
    border-top: none;
    padding-bottom: 35px;
  }
}

.login-form {
  width: 500px;

  &__wrapper {
    display: flex;
    justify-content: center;
  }

  h1 {
    margin-bottom: 20px;
    text-align: center;
  }

  label {
    font-weight: normal;
  }
}
