* {
  margin: 0;
  border: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  border-collapse: collapse;
}
body {
  font-family: "Futura PT", sans-serif;
  font-size: 14px;
  letter-spacing: 0.5px;
  color: #2d2d2d;
}
a {
  color: #000;
}
a:hover {
  text-decoration: none;
  color: #000;
}
h1 {
  font-size: 22px;
}
ul {
  list-style: none;
  margin-bottom: 0;
}
button:focus {
  outline: none;
}
label {
  font-weight: bold;
}
.admin-header {
  font-size: 16px;
  margin-bottom: 20px;
}
.admin-header-nav-item {
  padding-right: 20px;
}
.admin-header-nav-item:last-child {
  padding-right: 0;
}
.allproducts-list,
.allcategories-list {
  font-weight: lighter;
}
.allproducts-list-item,
.allcategories-list-item {
  margin-bottom: 15px;
}
.allproducts-list-item a:hover,
.allcategories-list-item a:hover {
  color: #0770cf;
}
.allproducts-list-item-image,
.allcategories-list-item-image {
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.allproducts-list-item-icons a,
.allcategories-list-item-icons a {
  margin-right: 15px;
}
.allproducts-list-item-icons a:last-child,
.allcategories-list-item-icons a:last-child {
  margin-right: 0;
}
.allproducts-list-item-icons button,
.allcategories-list-item-icons button {
  background: transparent;
}
.allproducts-list-item-icons button:hover,
.allcategories-list-item-icons button:hover {
  color: #0770cf;
}
.allproducts-list-header,
.allcategories-list-header {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: normal;
}
.admin-button {
  font-size: 16px;
  padding: 5px 20px;
  border: 1px solid transparent;
  border-radius: 3px;
  transition: background-color 0.1s linear;
  background-color: #17a2b8;
  color: #fff;
  font-family: "Futura PT", sans-serif;
  letter-spacing: 0.5px;
}
.admin-button:hover {
  background-color: #17a2b896;
  color: #fff;
}
.admin-title {
  margin-bottom: 20px;
  font-size: 20px;
  text-align: center;
}
.admin-list-title {
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 25px;
  text-align: center;
}
.add-entity {
  margin-bottom: 20px;
  margin-top: 20px;
  display: inline-block;
  font-size: 16px;
  padding: 5px 20px;
  border: 1px solid transparent;
  border-radius: 3px;
  transition: background-color 0.1s linear;
  background-color: #17a2b8;
  color: #fff;
  font-family: "Futura PT", sans-serif;
  letter-spacing: 0.5px;
}
.add-entity:hover {
  background-color: #17a2b896;
  color: #fff;
}
.entity-form-submit {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 16px;
  padding: 5px 20px;
  border: 1px solid transparent;
  border-radius: 3px;
  transition: background-color 0.1s linear;
  background-color: #17a2b8;
  color: #fff;
  font-family: "Futura PT", sans-serif;
  letter-spacing: 0.5px;
}
.entity-form-submit:hover {
  background-color: #17a2b896;
  color: #fff;
}
.entity-form-image {
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px 0 15px 0;
}
.entity-form-image:after {
  opacity: 0;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, #ccccccb3 0%, rgba(255, 255, 255, 0) 100%);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: top;
  transition: opacity 0.2s linear;
}
.entity-form-image:hover:after {
  opacity: 1;
}
.entity-form-image:hover .entity-form-delete-image-button {
  opacity: 1;
}
.entity-form-image--category {
  height: 500px;
  width: 300px;
}
.entity-form-delete-image {
  margin-top: 10px;
}
.entity-form-delete-image-button {
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.2s linear;
}
.entity-form-delete-image-button--deleted {
  display: none;
}
.entity-form-delete-image-button i {
  font-size: 20px;
  color: #1d2124cf;
}
.entity-form-image--deleted,
.products-item__img--deleted,
.product-img--deleted {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ccc;
  border: 1px solid #ccc;
}
.entity-form-image--deleted:after,
.products-item__img--deleted:after,
.product-img--deleted:after {
  display: none;
}
.entity-form-option--disabled {
  opacity: 0.5;
}
.entity-form-errors {
  margin-left: 20px;
  color: #ff253a;
  margin-bottom: 20px;
}
.entity-form-errors--image-group {
  margin-bottom: 20px;
}
.entity-form-errors--image-group ul {
  list-style: circle;
}
.entity-form-errors--image-group ul li {
  margin-left: 30px;
}
.entity-form-errors:last-of-type {
  margin-bottom: 20px;
}
.delete-entity-modal .modal-header,
.entity-modal-ondeletion .modal-header {
  border-bottom: none;
}
.delete-entity-modal .modal-body,
.entity-modal-ondeletion .modal-body {
  text-align: center;
  font-size: 14px;
  padding-top: 10px;
}
.delete-entity-modal .modal-footer,
.entity-modal-ondeletion .modal-footer {
  justify-content: center;
  font-size: 14px;
  border-top: none;
  padding-bottom: 35px;
}
.login-form {
  width: 500px;
}
.login-form__wrapper {
  display: flex;
  justify-content: center;
}
.login-form h1 {
  margin-bottom: 20px;
  text-align: center;
}
.login-form label {
  font-weight: normal;
}
/*# sourceMappingURL=style.css.map */